<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShopList</key>
	<array>
		<dict>
			<key>ItemList</key>
			<array>
				<dict>
					<key>SkuId</key>
					<string>1</string>
					<key>ItemName</key>
					<string>商品1</string>
					<key>ItemPic</key>
					<string>item_pic</string>
					<key>SPrice</key>
					<string>10</string>
					<key>ItemNumber</key>
					<string>3</string>
					<key>ItemTotalAmount</key>
					<string>30</string>
					<key>goodsIsSelected</key>
					<string>1</string>
				</dict>
				<dict>
					<key>SkuId</key>
					<string>1</string>
					<key>ItemName</key>
					<string>商品11</string>
					<key>ItemPic</key>
					<string>item_pic</string>
					<key>SPrice</key>
					<string>15</string>
					<key>ItemNumber</key>
					<string>2</string>
					<key>ItemTotalAmount</key>
					<string>30</string>
					<key>goodsIsSelected</key>
					<string>1</string>
				</dict>
			</array>
			<key>ShopInfo</key>
			<dict>
				<key>IsSelected</key>
				<string>0</string>
				<key>ShopName</key>
				<string>店铺1</string>
				<key>ShopLogo</key>
				<string>shop_logo</string>
				<key>StartOrderAmount</key>
				<string>1</string>
				<key>StartOrderAmountText</key>
				<string>个地方个地方</string>
				<key>shopIsSelected</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>ShopInfo</key>
			<dict>
				<key>IsSelected</key>
				<string>0</string>
				<key>ShopName</key>
				<string>店铺2</string>
				<key>ShopLogo</key>
				<string>shop_logo</string>
				<key>StartOrderAmount</key>
				<string>1</string>
				<key>StartOrderAmountText</key>
				<string>凤凰股份好</string>
				<key>shopIsSelected</key>
				<string>1</string>
			</dict>
			<key>ItemList</key>
			<array>
				<dict>
					<key>SkuId</key>
					<string>1</string>
					<key>ItemName</key>
					<string>商品21</string>
					<key>ItemPic</key>
					<string>item_pic</string>
					<key>SPrice</key>
					<string>23</string>
					<key>ItemNumber</key>
					<string>5</string>
					<key>ItemTotalAmount</key>
					<string>30</string>
					<key>goodsIsSelected</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopInfo</key>
			<dict>
				<key>MappingStatus</key>
				<string>1</string>
				<key>New item</key>
				<string></string>
				<key>IsSelected</key>
				<string>0</string>
				<key>ShopName</key>
				<string>店铺3</string>
				<key>ShopLogo</key>
				<string>shop_logo</string>
				<key>StartOrderAmount</key>
				<string>1</string>
				<key>StartOrderAmountText</key>
				<string>个地方个地方</string>
				<key>shopIsSelected</key>
				<string>1</string>
			</dict>
			<key>ItemList</key>
			<array>
				<dict>
					<key>SkuId</key>
					<string>11</string>
					<key>ItemName</key>
					<string>商品32</string>
					<key>ItemPic</key>
					<string>item_pic</string>
					<key>SPrice</key>
					<string>5</string>
					<key>ItemNumber</key>
					<string>2</string>
					<key>ItemTotalAmount</key>
					<string>30</string>
					<key>goodsIsSelected</key>
					<string>1</string>
				</dict>
				<dict>
					<key>SkuId</key>
					<string>13</string>
					<key>ItemName</key>
					<string>商品33</string>
					<key>ItemPic</key>
					<string>item_pic</string>
					<key>SPrice</key>
					<string>10</string>
					<key>ItemNumber</key>
					<string>5</string>
					<key>ItemTotalAmount</key>
					<string>30</string>
					<key>goodsIsSelected</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
